$body-color: rgb(219, 232, 175);
$header-and-footer-color: rgb(158, 203, 168);
$text-color: rgb(251, 255, 201);
$error-text-color: rgb(255, 0, 0);
$table-color: rgb(0, 0, 0);

html {
  position: relative;
  min-height: 100%;
  width: 100%;
  height: 100%;
  background-color: $body-color;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $body-color;
}

header {
  background-color: $header-and-footer-color;
  height: 10%;
  margin: 0;
  padding: 0;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $header-and-footer-color;
  height: 10%;
  margin: 0;
  padding: 0;
  text-align: center;
}

main{
  width: 100%;
  height: 100%;
  background-color: $body-color;
  text-align: center;
}

.copyright {
  padding: 2%;
  color: $text-color;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 200%;
  padding-top: 1%;
  color: $text-color;
}

.content {
  margin: 15%;
}

th {
  border: 1px solid $table-color;
}

td {
  border: 1px solid $table-color;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px solid $table-color;
}

form {
  padding-top: 5%;
}

.look_sub {
  width: 30%;
}

.address {
  width: 50%;
}

.error-message {
  padding-top: 3%;
  color: $error-text-color;
}
