<div>
  <div>
    <br>
    <h1 align='center'>Page for adding article</h1>
  </div>
  <form action=<%= url('/articles') %> method='post' style='margin-top:9%;margin-left:4%'>
    <div align='center'>
      <input type='text' style="height:42px;width:60%" name='link' align='middle'>
      <button type='submit' align='middle' style="width:20%;height:40px" class='btn btn-outline-primary'>Add article </button>
    </div>
</form>
</div>
