<div>
  <div>
    <h1 align='center'>Page for add article</h1>
  </div>
  <form method='post' style='margin-top:10%;margin-left:4%'>
    <div align='center'>
      <input type='text' style="height:45px;width:60%" name='link' align='middle'>
      <button type='submit' style="width:20%;height:45px" class='btn btn-outline-primary'>Add article </button>
    </div>
</form>
</div>
