<div>
  <h1 align='center'>Comments rating table</h1>
</div>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Comment</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <%- @article.comments.each_with_index do |comment, index| %>
      <tr>
        <td><%=(index+1).to_s%></td>
        <td><%=comment.text%></td>
        <td><%=comment.rating.to_s%></td>
      </tr>
      <% end -%>
      </tr>
    </tbody>
  </table>
</div>
