<nav class='navbar navbar-expand-lg navbar-dark bg-primary'>
  <a class='navbar-brand' href='/articles'>Onliner comments parser</a>
  <div class="btn-group btn-group-toggle" style="display: flex; justify-content: flex-end;" data-toggle="buttons">
    <a role='button' class='btn btn-primary' href='/articles/new'>Add article</a>
    <form action='/articles' method='post'>
      <button name='_method' class="btn btn-primary" value='delete'>Delete all articles</button>
    </form>
  </div>
</nav>
