<%= erb :application %>
<body action='show'>
  <div>Add link to article for analysis</div>
    <form  method='post'>
      <ul>
        <input type='text' name='link' id='link' />
      </ul>
      <button type='submit'>
        Submit
      </button>
      <div>
      	<a href='/'>
      	  Watch all articles
      	</a>
      </div>
    </form>
</body>
