<!DOCTYPE html>
<html>
<head>
  <mete charset="UTF-8" />
  <title>New link</title>
</head>
<body>
<h1>Add Link</h1>
<div>
  <form method="post" action="../links">
    <label for="link">Enter your link:</label>
    <input type="text" name="link>">
    <button type="submit">Add link</button>
  </form>
</div>
<a href="/">Back to Index</a>
</body>
</html>

