<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Rating comments </title>
        <link href="/styles.css" media="screen, projection" rel="stylesheet" />
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet" />
    </head>
    <body>
        <%= render :header %>
        <%= yield %>
    </body>
</html>
