<h2>Input link, please:</h2>
<form action="/posts" method="post">
  <div class="form-group">
    <input type="text" class="form-control" id="post" aria-describedby="emailHelp" title="Example: https://tech.onliner.by/2018/07/26/eksperiment-biosfera-2" placeholder="Link to process" name="post" value="" pattern="^(http|https):\/\/\w+\.onliner.+" autofocus>
  </div>
  <button type="submit" class="btn btn-success">Process</button>
</form>
