<html>
  <head>
    <title><%= title%></title>
  </head>
  <body style = 'background: url(https://images.wallpaperscraft.ru/image/setka_seryy_fon_svetlyy_83492_2048x1152.jpg); background-size: 100% 100%;'>
    <%= yield %>
  </body>
</html>