  <div class="well text-center">
    <h2>Rubizza-2018</h2>
  </div>
  <div class="row text-center">
    <div class="col-md-3 thumbnail">
        <a href="/w3images/lights.jpg" target="_blank">
          <img src="images/rubizza.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
    </div>
    <div class="col-md-3 thumbnail">
        <a href="/w3images/lights.jpg" target="_blank">
          <img src="images/rubizza.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
    </div>
    <div class="col-md-3 thumbnail">
        <a href="/w3images/lights.jpg" target="_blank">
          <img src="images/rubizza.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
    </div>
    <div class="col-md-3 thumbnail">
        <a href="/w3images/lights.jpg" target="_blank">
          <img src="images/rubizza.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
    </div>
  </div>
  