 <form method='post'>
  <div class="form-group">
    <label for="url">URL address:</label>
    <input type="url" placeholder =  "Enter the link to article" name = 'link'>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<%= @link %>