<div>
    <form action="../posts" method="post" style="margin-top:15%;margin-left:15%">
        <div align="center" style="display:flex; align-items:center">
            <input align="middle" class="form-control" name="link" style="height:45px;width:60%" type="text" />
            <button class="btn btn-outline-dark" style="width:20%;height:45px" type="submit">Add link</button>
        </div>
    </form>
</div>
