<!DOCTYPE html>
<html>
<head>
  <mete charset="UTF-8" />
  <title>New link</title>
</head>
<body>
<h1>Add Link</h1>
<form>
  <label for="link">Enter your link:</label>
  <input type="text" name="link">
  <input type="submit">
</form>
<a href="/">Back to Index</a>
</body>
</html>