<h1 class="text-center">Добавьте ссылку на статью для анализа.</h1>
<div class="col-md-6 col-md-offset-3">
  <form action="/posts/create" method="POST">
  	<div class="col-md-11">
      <input class="form-control text-center" type="text" name="link">
    </div>
    <div class="col-md-1 text-left">
      <input type="submit" value="Добавить" class="btn btn-primary">
    </div>
  </form>
</div>