<html>
  <head>
    <title> Pony </title>
  </head>

  <p align="center">
    <font size="7" color="red"> Wrong </font> <font size="6" color="blue"> link, </font>
    <font size="8" color="green"> try </font><font size="5" color="orange"> again </font>
  </p>

  <form action="/" method="GET">
    <p align="center"> <input type="submit" value="Back"> </p>
  </form>
</html>
