<html>
  <head>
    <meta charset="utf-8">
    <title>Список комментариев</title>
  </head>
  <body>
    <h3>Список комментариев</h3>
    <p>Рейтинг сформирован от -100 до 100 при помощи сервисов Azure</p>
    <table border="1">
      <tr>
        <th>Название</th>
        <th>Рейтинг</th>
      </tr>
      <tr>
        <td>
          <p>Первонах</p>
        </td>
        <td>-53</td>
      </tr>
      <tr>
        <td>
          <p>А вот я то в советские-то времена...</p>
        </td>
        <td>15</td>
      </tr>
    </table>
  </body>
</html>
