<!doctype html>
<html>
<head>
  <title>Your Page Title</title>
  <link rel="stylesheet" href="../assets/stylesheets/style.css" type="text/css" />
</head>
<body>
<h1> Hello))) I am analyser!! Let's play)) </h1>
<h2> Add link to new article </h2>

<a href="/new">Analyse new link!! </a>

<table>
  <tr>
    <th> Number </th>
    <th> Link </th>
    <th> Rating </th>
    <th> Link to comments with rating </th>
  </tr>


</table>

<!-- Page contents go here -->

</body>
</html>