<!DOCTYPE html>
<html>
<head>
  <title>My Parser - Add Link</title>
</head>
<body>
<h1>Add New Link</h1>
<form method="post" action=<%= url('/analyze') %>>
  <label for="link">Link:</label>
  <input type="text" name="link">
  <input type="submit">
</form>
<a href="/">Back to Index</a>
</body>
</html>