<table>
  <tr>
    <td><strong>Link:</strong></td>
    <td><%= @page.link %></td>
  </tr>
  <tr>
    <td><strong>Average rating:</strong></td>
    <td><%= @page.rating.to_i %></td>
  </tr>
</table>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th> Rating </th>
      <th> Comment </th>
    </tr>
  </thead>
  <tbody>
    <% @page.comments.each do |comment| %>
      <tr>
        <td><%= "#{comment.rating.to_i}" %></td>
        <td><%= "#{comment.text}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<a href="/">Back to Index</a>
