<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>About article <%= @page.link %></title>
</head>
<body>
<table>
  <tr>
    <td><strong>Link:</strong></td>
    <td><%= @page.link %></td>
  </tr>
  <tr>
    <td><strong>Average rating:</strong></td>
    <td><%= @page.rating %></td>
  </tr>
</table>
<% @page.comments.each do |comment| %>
  <%= "#{comment.rating} --- #{comment.text}" %>
  <br />
<% end %>
<a href="/">Back to Index</a>
</body>
</html>