<h1>New article</h1>
<form action="/articles" method="post">
  <div class="form-group">
    <label for="article">Please, enter a URL-address</label>
    <input type="text" class="form-control" id="url" placeholder="Input link" name="url" value="" autofocus>
  </div>
  <button type="submit" class="btn btn-primary">Add Link</button>
</form>