!!!
%html
  %head
    %title Comment Analyzer
    = stylesheet_tag 'app'
    %link(href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic' rel='stylesheet' type='text/css')
    %link{ :type => "image/png", :href => image_path("favicon.ico"), :rel => "shortcut icon" }
    %meta{:name => 'viewport', :content => 'width=device-width; initial-scale=1; user-scalable=0;'}
    %body
    %main= yield
