<div class="row">
  <div class="col-md-12">
    <div class="error-template text-center">
      <h1>404 Not Found</h1>
      <div class="error-details">
        Sorry, Requested page not found!

        Don't you try to sneak about? -_-
      </div>
    </div>
  </div>
</div>
