<!DOCTYPE html> 
<html>
  <head>
  <meta charset="utf-8">
  <title>analysis</title>
  <style>
  P { text-align: center}
  </style>
 </head>
 <body>
  <form action="/links/new" method="POST">
   <p><input name="link"> <input type="submit" value="тык"></p>
  </form>
 </body>
</html>
