<html>
  <head>
    <meta charset="utf-8">
    <title>Список статей</title>
  </head>
  <body>
    <h3>Список статей</h3>
    <p>Выберете любую статью, чтобы увидеть на основании каких комментариев сформирован рейтинг</p>
    <table border="1">
      <tr>
        <th>Название</th>
        <th>Ссылка на источник</th>
        <th>Рейтинг</th>
      </tr>
      <tr>
        <td>
          <a href="comments/1">Зубр нашёл себе тёлочку</a>
        </td>
        <td>
          <a href="https://auto.onliner.by/2018/02/03/zubry">https://auto.onliner.by/2018/02/03/zubry</a>
        </td>
        <td>-53</td>
      </tr>
      <tr>
        <td>
          <a href="comments/2">Снова выросли цены на нефть</a>
        </td>
        <td>
          <a href="https://auto.onliner.by/2018/05/25/belneftexim-6">https://auto.onliner.by/2018/05/25/belneftexim-6</a>
        </td>
        <td>15</td>
      </tr>
    </table>
  </body>
</html>
