<head>
  <meta charset='UTF-8' />
  <title>Create articles</title>
  <style type="text/css">

    a, button {
      font: bold 11px Arial;
      text-decoration: none;
      background-color: #EEEEEE;
      color: #333333;
      padding: 2px 6px 2px 6px;
      border-top: 1px solid #CCCCCC;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      border-left: 1px solid #CCCCCC;
      display:inline-block;
      margin-right:5px;
    }

  </style>
</head>
<body action='show' class='container'>
  <h3>Введите ссылку</h3>
  <form  method='post'>
    <p><input type='text' name='link' id='link' /><p>
    <button type='submit'>Add link</button>
    <a href='/'>Back</a>
  </form>
</body>
</html>
