<h1>New article</h1>

<form action="/articles" method="post">
  <div class="form-group">
    <input type="text" class="form-control" id="article" title="Example: https://tech.onliner.by/2018/07/30/startup-51" placeholder="Input link" name="article" pattern="^(http|https):\/\/\w+\.onliner.+" autofocus>
  </div>
  <button type="submit" class="btn btn-success">Add</button>
</form>

