<!--<form method="POST" action="/articles/new">
  <p>Link: <input type="text" name="link"></p>
  <input type="submit">
</form>-->

<form method="POST" action="/articles/new" class="form-inline-sm-20">
  <!--<div class="form-group mx-sm-3">-->
  <div class="row align-items-center">
  	<div class="col-md-4 my-sm-4">
  	  <input type="text" name="link" class="form-control form-control-lg" placeholder="Enter link">
  	</div>
  	<div class="col-md-4 offset-md-0">
  	  <button type="submit" class="btn btn-outline-dark btn-lg">Create</button>
  	</div>
  </div>
</form>