<html>
  <head>
    <title>Nothing found for  404</title>
  </head>
  <body bgcolor="#000000" topmargin="0" bottommargin="0" leftmargin="0" bottommargin="0" marginheight="0" marginwidth="0" bottompadding="20">
    <center>
      <a href="/"><img border="0" src="http://designfire.ru/wp-content/themes/designfire/images/404.jpg"></a>
    </center>
  </body>
</html>