.page.indexPage
  .title
    %h1 Comment Analyzer
  .content
    %form{:action => "/", :method => "post"}
      %label{:for => "address"} Input address:
      %input#address{:name => "address", :type => "text", :value => ""}/
      %input#add_sub{:name => "add", :type => "submit", :value => "Add"}/
    .error_message= error_text
    %form{:action => "/posts/articles", :method => "post"}
      %input#look_sub{:name => "look", :type => "submit", :value => "Look analysis"}/
  