!!!
%html
  %head
    %title Comment Analyzer
    = stylesheet_tag 'app'
    %link(href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic' rel='stylesheet' type='text/css')
    %meta{:name => "viewport", :content => "width=device-width; initial-scale=1; user-scalable=0;"}

  %body
    %h1 Comment Analyzer
    %h3 Анализатор прекрасных комментариев бесполезных людей с онлайнера
    %input
    %button Анализировать