<%= erb :base %>
<body action='show' class='container' align='center'>
  <p>Input link</p>
    <form  method='post'>
      <ul class='unstyled'>
        <input type='text' class='form-control' name='link' id='link' />
      </ul>
      <button type='submit' class='btn btn-primary'>Add link</button>
      <p><a href='/'>Back</a></p>
    </form>
</body>
