<html>
  <head>
    <meta charset='UTF-8' />
  </head>
  <body>
     <form method="POST" action="/add">
       <input type="text" name="link">
       <input type="submit">
     </form>
   </body>
</html>