<html>
  <head>
    <meta charset='UTF-8' />
    <title>All links</title>
  </head>
  <body>
    <form action='/comments_analysis/:id' method='post'>
      <%@comments.each do |c|%>
        <p><%= c.text %> <b>--</b> <%= c.rate %></p>
      <% end %>
    </form>
  </body>
</html>

