<html>
  <head>
    <meta charset='UTF-8' />
    <title>Task</title>
  </head>
  <body class='container'>
    <p>The 3th task</p>
    <form action='cast' method='post'>
      <ul class='unstyled'>
        <a href="/add">Add new link</a>
      </ul>
    </form>
  </body>
</html>