<html>
  <head>
    <meta charset='UTF-8' />
    <title>All links</title>
  </head>
  <body>
    <%Link.all.each do |l|%>
      <a href=<%= "/comments_analysis/#{l.id}" %> target="_blank"><%= l.address %></a>
      <p><%= l.rate %></p>
    <% end %>
    <p><a href=<%= "/add" %>>add new links</a></p>
  </body>
</html>
